---

const year = new Date().getFullYear();
---

<footer class="semibold mt-auto flex w-full flex-col items-center justify-center gap-y-2 pb-4 pt-8 text-center align-top text-accent sm:flex-row sm:justify-between sm:text-sm">
  <p>© {year}, Powered By Ikun.</p>
  <p>See more</p>
</footer>