---
import Base from "../layouts/Base.astro";

---

<Base>
  <div class="max-w-2xl mx-auto relative flex h-screen -mt-24">
    <div class=" w-full h-screen mt-10">
      <h1 class="text-3xl font-semibold"># About</h1>
      <p>
        This is the about page. It's a simple page with some text to show how
        Astro works.
      </p>
    </div>
  </div>
</Base>