---
import Base from "../layouts/Base.astro";
---

<Base>
  <section>
    <h1 class="title mb-6 flex items-center gap-2">Notes</h1>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
      <div>
        <article
          class="inline-grid w-full rounded-lg bg-color-75 px-4 md:px-8 py-2 md:py-4"
        >
          <h4 class="flex items-end title md:sticky md:top-8 md:z-10 text-base">
            Wake up
          </h4>
          <div class="flex items-end h-6 text-sm text-lighter">
            01 February 2199 at 19:26
          </div>
          <div
            class="prose prose-citrus mt-4 max-w-none [&>p:last-of-type]:mb-0 line-clamp-4 [&>blockquote]:line-clamp-4 [&>blockquote]:mb-0 [&>blockquote:not(:first-of-type)]:hidden"
          >
            Hi, Hello. This is an example note feature included with Astro
            Citrus. They’re for shorter, concise “post’s” that you’d like to
            share, they generally don’t
          </div>
        </article>
      </div>
      <div>
        <article
          class="inline-grid w-full rounded-lg bg-color-75 px-4 md:px-8 py-2 md:py-4"
        >
          <h4 class="flex items-end title md:sticky md:top-8 md:z-10 text-base">
            Wake up
          </h4>
          <div class="flex items-end h-6 text-sm text-lighter">
            01 February 2199 at 19:26
          </div>
          <div
            class="prose prose-citrus mt-4 max-w-none [&>p:last-of-type]:mb-0 line-clamp-4 [&>blockquote]:line-clamp-4 [&>blockquote]:mb-0 [&>blockquote:not(:first-of-type)]:hidden"
          >
            Hi, Hello. This is an example note feature included with Astro
            Citrus. They’re for shorter, concise “post’s” that you’d like to
            share, they generally don’t
          </div>
        </article>
      </div>
    </div>
  </section>
</Base>
