---
import '../styles/global.css';

const platform = "github";
const username = "withastro";
---

<footer>
  <p>在 <a href={`https://www.${platform}.com/${username}`}>{platform}</a> 上，了解有关我的项目的更多信息！</p>
</footer>